nav{
	background-color: $color3;
	padding: 0;
	cursor: cell;
	border-bottom: $color1 solid 1.5vh;

	.navbar_navIcon {transform: rotate(-45deg);}
	.navbar_navIcon {transition:0.4s;} 
	.change .navbar_navIcon {transform: rotate(0deg);}

	#navbars {cursor: pointer;}



	.nav-link:hover{color:white;letter-spacing: 0.5vh;transform: scale(1.2);}
	.nav-link {
		user-select: none;
		text-decoration: none;
		color: $color1;
		font-size: 3vh;
		transition:color 1s,letter-spacing 1s,transform 1s;
	}
	
}
