
// COLORES

$color1:#92FB6D; //verde
$color2:#A8D8EA; //celeste
$color3:#393e46; //negro
$color4:#eeeeee; //blanco

$amarillo:#CCE639; //amarilllo -- novedades


// FUENTES
$titulo:'Fugaz One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

$subtitulo:'Mukta Malar', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap');

$general:'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
